body {
  margin-top: 60px
}

nav a {
  padding: 5px 10px;
  text-decoration: none !important;
  margin-top: 10px;
  display: inline-block;
  border-radius: 4px;
  bottom: 0;
}
nav a:visited, a:link {
  color: #999;
}
nav a:hover {
  color: #DDD;
  background-color: #333;
}
nav a.active {
  color: #FFF;
}

.dailyStats {
  background-color: #0D4D4B;
  border-radius: 10px 10px 0 0;
  color: white;
  padding-left: 10px;
}

.day {
  background-color: #7CBB91;
  border-radius: 10px;
}

.dayFood {
  padding-left: 10px;
  padding-right: 10px;
}
