<h1>Food List</h1>
<div *ngIf='!foods'>
  <h3>Loading...</h3>
</div>

<div *ngIf='foods'>
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-xs-1 control-label" for="calorieFilter">Show</label>
      <div class="col-xs-3">
        <select (change)="onCalorieChange($event.target.value)" class="form-control" id="calorieFilter">
          <option value="all">All</option>
          <option value ="low">Low calorie</option>
          <option value ="high">High calorie</option>
        </select>
      </div>
    </div>
  </div>
  <h3>Today</h3>
  <p>Total calories: {{ totalCalories }}</p>
  <p>Average calories/food: {{ averageCalories }}</p>
  <hr>
  <h4>Foods for today</h4>
  <div *ngFor="let food of foods | calories:calorieOption">
    <p>Name: {{ food.name }}</p>
    <p>Calories: {{ food.calories }}</p>
    <p>Details {{ food.details }}</p>
    <button class="btn btn-warning" (click)="gotoEdit(food.id)">Edit</button>
  </div>
</div>
