<h1>Food List</h1>
<div *ngIf='!foods'>
  <h3>Loading...</h3>
</div>

<div *ngIf='foods'>
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-xs-1 control-label" for="calorieFilter">Show</label>
      <div class="col-xs-3">
        <select (change)="onCalorieChange($event.target.value)" class="form-control" id="calorieFilter">
          <option value="all">All</option>
          <option value ="low">Low calorie</option>
          <option value ="high">High calorie</option>
        </select>
      </div>
    </div>
  </div>

  <div *ngFor="let day of dayInfos">
    <h3 *ngIf="day.date.getTime() === today.getTime()">Today, {{ day.date | date: 'MM/dd/yyyy' }}</h3>
    <h3 *ngIf="day.date.getTime() === yesterday.getTime()">Yesterday, {{ day.date | date: 'MM/dd/yyyy' }}</h3>
    <h3 *ngIf="day.date.getTime() != today.getTime() && day.date.getTime() != yesterday.getTime()">{{ day.date | date: 'EEEE, MM/dd/yyyy' }}</h3>
    <div class="day">
      <div class="dailyStats">
        <div class="row">
          <div class="col-xs-12">
            <h4><strong>Daily totals</strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p>Average calories: {{ day.getAverageCalories() }}</p>
          </div>
          <div class="col-xs-6">
            <p>Total calories: {{ day.getTotalCalories() }}</p>
          </div>
        </div>
      </div>
      <div class="dayFood">
        <h4><strong>Foods eaten</strong></h4>
        <div *ngFor="let food of day.foods | calories:calorieOption">
          <food-view [food]="food"></food-view>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
